body {
	background-color: #fff;
	font-family: 'EB Garamond' serif;
	font-variant: small-caps;

}
 

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

	main {
	background-image: url(../img/Black_background.jpg);
	background-repeat: no-repeat;
	height: 755px;
}



header {
	background-color: #3f3f40;
	border-bottom: 1px solid;
	color: #fff
	height: 100px;
}

header .Leaf_Logo {
	display: block;
	margin-right: 20px;
	margin-bottom: 20px;
}

header h1 {
	color: #f2dea0;
	font-size: 24px;
	line-height: 100px;
	margin: 20px;
}

nav a {
	text-decoration:none;
	color: #f2dea0;
}

header nav a: hover {
	border-bottom: 2px solid #f2dea0;
}

nav li {
	font-size: 24px;
	margin-right: 58px;
	line-height: 100px;
}

header {
	display: flex;
}

nav ul {
	display: flex;
	margin-left: 63px;
}

main div {
	padding-left: 647px;
	padding-top: 103px;
}

main h2{
	font-size: 30px;
	color: #f2f2f2;
	padding-bottom: 20px;
	line-height: 1.15;
	width: 290px;
}

main a: link, a, a:visited{
 color: #f2dea0
 font-size: 24px;
}

main a: hover{
	border-bottom: 2px solid #f2dea0;
}

footer: {
	background-color: #3f3f40;
	border-top: 1px solid;
	color: #fff;
	height: 100px;
}

footer p:nth-child(1){
	text-decoration: none;
	font-variant: normal;
	color: #a4a5a6;
	padding-top: 25px;
	padding-left: 402px;
	padding-bottom: 4px;
	font-size: 16px;

}
